:root {
      --azul: #3A66FF;
      --petroleo: #1C1C1E;
      --lilas: #8231ce;
      --branco: #FFFFFF;
    }
    @font-face {
    font-family: 'Bludhaven';
    src: url('../fonts/BLUDHAVEN.ttf') format('truetype');
}
    @font-face {
      font-family: 'Sunshine Festival';
      src: url(/fonts/Rundkursiv.ttf);
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
    }
    body {
      background: linear-gradient(135deg, var(--azul), var(--lilas));

    }
    .interface {
    height: auto;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    }
    .apresentacao {
  padding: 50px 20px;
  background: linear-gradient(135deg, var(--azul), var(--lilas));
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
  height: 100vh;
}

.apresentacao h1 {
  font-size: 5rem;
  margin-bottom: 10px;
  font-family: 'Sunshine Festival';
}

.subtitulo {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.perfil-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  

}


.perfil {
  background: rgb(255, 255, 255);
  border: 2px solid #ffffff55;
  border-radius: 20px;
  padding: 20px;
  width: 500px;
  height: 650px;
  transition: transform 0.3s;
  color: #1C1C1E;
}

.perfil:hover {
  transform: scale(1.05);
}

.perfil img {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px #00000066;
}

.perfil h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #000000;
}

.perfil p {
  font-size: 1em;
  color: #000000;
}


    section {
        height: 100%;
        scroll-snap-align: start; /* <- aqui estava faltando */
        scroll-snap-align: end;
    }
    .convite{
        width: 100%;
        height: auto;
        color: var(--branco);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        background: rgba(255, 255, 255, 0.103);
        border-radius: 2%;
        gap: 0%;
    }

   .convite header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20%;
    padding: 40px 20px 20px;
    justify-content: center;
}


.convite header h1 {
  font-family: 'BLUDHAVEN', sans-serif;
  font-size: 5.5em;
  flex-grow: 1;
  
}
#cabeçalho{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.convite #estilo-1 {
  color: #FFFFFF;
  width: 50% ;
  height: auto;
}
#cabeçalho p{
  width: auto;
  height: 20px;
    
}


.convite .info {
  font-family: 'Poppins', sans-serif;
  background: rgba(0, 0, 0, 0.349);
  padding: 20px;
  border-radius: 15px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.convite .info h2 {
  font-family: 'Poppins', sans-serif;
  color: #8583ff;
  margin-bottom: 10px;
}

.convite form {
  font-family: 'Poppins', sans-serif;
  background: var(--branco);
  color: black;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 20px auto;
}

.convite form input,
.convite form select,
.convite form button {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  background-color: #0944e558;
}

.convite form button {
  font-family: 'Poppins', sans-serif;
  background: var(--lilas);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.convite form button:hover {
  background: #5f2497;
}

.convite footer {
  display: flex;
  background-color: #5f249791;
  margin-top: px;
  font-size: 0.9em;
}
.convite #caio{
    width: 20%;
    height: auto;
    display: flex;
    
}
.convite #bianca{
    width: 20%;
    height: auto;
    display: flex;

}
#fundo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
 }
#fundo #caio{
  width: 100px;
  height: auto;
}
#fundo #bianca{
  width: 100px;
  height: auto;
}
.contador{
  font-family:Sunshine Festival ;
  color: #c07efd;
}
 
@media (max-width: 1268px){
  .apresentacao{
    height: auto;
  }


}

@media (max-width: 600px) {
  .apresentacao {
  padding: 50px 20px;
  color: white;
  text-align: center;
  font-family: 'Arial', sans-serif;
  height: auto;
}

  .convite header h1 {
    font-size: 5.2em;
    text-align: center;
    
  } 
  .convite #estilo-1 {
  color: #FFFFFF;
  width: 90% ;
  height: auto;
}
.perfil {
  background: rgb(255, 255, 255);
  border: 2px solid #ffffff55;
  border-radius: 20px;
  padding: 20px;
  width: 250px;
  height: auto;
  transition: transform 0.3s;
  color: #1C1C1E;
}
 
.perfil img {
  
  
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px #00000066;
}
 }